/*------------------------------*/
/***** Корректируем плагины *****/
/*------------------------------*/

/* Стилизуем слайдер */
#carouselExampleIndicators {
	z-index: 2;
}

.carousel-indicators {
	margin-bottom: 20px;
}

.carousel-caption {
	margin-bottom: 25px;
}

.carousel-caption h3 {
	font-size: 30px;
	margin-bottom: 20px;
}

.carousel-caption p {
	font-size: 22px;
	text-align: center;
}

.carousel-indicators li {
    background-color: white;
    width: 100px;
}

.carousel-indicators li.active {
    background-color: #D60008;
}

.effect-sadie img:hover {
	background: red;
}

/* contact-form-7 */
#wpcf7-f398-o1 > form.wpcf7-form {
	margin-left: 100px !important;
	padding-top: 60px !important;
	font-family: 'Fira Sans', sans-serif !important;
}

.red {
	color: red !important;
	position: relative !important;
	left: 5px !important;
	top: 7px !important;
	font-size: 25px !important;
}

.red-2 {
	color: red !important;
	position: relative !important;
	right: 5px !important;
	top: 7px !important;
	font-size: 25px !important;
}

.sure {
	font-size: 14px !important;
	font-weight: 400 !important;
}

textarea {
	outline:none !important;
	background: #f1f1f1;
}

input.wpcf7-form-control { 
	border: 0 !important;
	border-bottom: 1px dashed black !important;
	outline:none !important;
	padding: 1px !important;
	margin-bottom: 2px !important;
	width: 300px !important;
	background: #f1f1f1;
}

label, .wpcf7-not-valid-tip, .normal {
	font: 16px 'Fira Sans', sans-serif !important;
	font-weight: 400 !important;
	margin-top: 1px !important;
}

.normal:hover {
	cursor: pointer;
}

input[type="submit"] {
	background: #39B54A;
	width: 250px;
	height: 40px;
	border: 0 !important;
	margin-top: 15px;
	color: white;
}

.wpcf7-mail-sent-ok {
	position: absolute !important;
	top: -65px !important;
	left: 0 !important;
	min-width: 330px !important;
	background: #39B54A;
	padding: 10px 20px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;
}

.wpcf7-mail-sent-ng {
	position: absolute !important;
	top: -65px !important;
	left: 0 !important;
	min-width: 330px !important;
	background: red;
	padding: 10px 20px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;
}

.wpcf7-validation-errors, .wpcf7-spam-blocked {
	position: absolute !important;
	top: -60px !important;
	left: 0 !important;
	min-width: 330px !important;
	background: red;
	padding: 10px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;	
}

.label_text {
	margin-top: 10px !important;
}

/* Чекбокс */
span.wpcf7-list-item {
	margin: 5px 0 10px 0 !important;
}

/* Тексареа */
.wpcf7-textarea {
	border: 1px dashed black !important;
	margin-top: 5px;
	width: 300px !important;
}

#wpcf7-f428-o1 > form.wpcf7-form, #wpcf7-f428-o2 > form.wpcf7-form {
	margin-left: 60px !important;
	padding-top: 10px !important;
	font-family: 'Fira Sans', sans-serif !important;
}

.wpcf7-submit {
	cursor: pointer;
}

#wpcf7-f428-o1 > form > .wpcf7-mail-sent-ok, #wpcf7-f428-o2 > form > .wpcf7-mail-sent-ok {
	position: absolute !important;
	top: -81px !important;
	left: 50px;
	background: #39B54A;
	padding: 10px 30px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;
}

#wpcf7-f428-o1 > form > .wpcf7-validation-errors, #wpcf7-f428-o1 > form > .wpcf7-spam-blocked,
#wpcf7-f428-o2 > form > .wpcf7-validation-errors, #wpcf7-f428-o2 > form > .wpcf7-spam-blocked {
	position: absolute !important;
	top: -81px !important;
	left: 50px;
	background: red;
	padding: 10px 30px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;	
}

/* Вкладки */
.tabs {
	max-width: 100%;
	margin: 0 0 30px;
}

.tabs__caption {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	position: relative;
	margin: -1px 0 0 -1px;
}

.tabs__caption li:last-child:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: -2px;
	z-index: -1;
	height: 5px;
	background: #7DCA86;
}

.tabs__caption:after {
	content: '';
	display: table;
	clear: both;
}

.tabs__caption li {
	padding: 9px 15px;
	margin: 1px 0 0 1px;
	background: #292728;
	color: white;
	position: relative;
	border: solid #292728;
	border-width: 2px 2px 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

.tabs__caption li:not(.active) {
	cursor: pointer;
}

.tabs__caption li:not(.active):hover {
	background: #161616;
	border-color: #161616;
}

.tabs__caption .active {
	background: #FFF;
	color: #000;
}

.tabs__caption .active:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	height: 5px;
	background: #FFF;
}

.tabs__content {
	display: none;
	background: #FFF;
	border: 2px solid #292728;
	border-radius: 0 5px 5px 5px;
	padding: 7px 15px;
}
.tabs__content.active {
	display: block;
}

.vertical .tabs__caption {
	float: left;
	display: block;
}
.vertical .tabs__caption li {
	float: none;
	border-width: 2px 0 2px 2px;
	border-radius: 5px 0 0 5px;
}

.vertical .tabs__caption li:last-child:before {
	display: none;
}

.vertical .tabs__caption .active:after {
	left: auto;
	top: 0;
	right: -2px;
	bottom: 0;
	width: 2px;
	height: auto;
}
.vertical .tabs__content {
	overflow: hidden;
}

.thead-dark th {
	background: #292728;
}

@media screen and (max-width: 650px) {

	.tabs__caption li {
		-webkit-flex: 1 0 auto;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
	}
	.vertical .tabs__caption {
		float: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.vertical .tabs__caption li {
		border-width: 2px 2px 0;
		border-radius: 5px 5px 0 0;
	}
	.vertical .tabs__caption li:last-child:before {
		display: block;
	}
	.vertical .tabs__caption .active:after {
		top: auto;
		bottom: -5px;
		left: 0;
		right: 0;
		width: auto;
		height: 5px;
		background: #FFF;
	}
} /* End @media */

/*---------------*/
/***** Oscar *****/
/*---------------*/
.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding-bottom: 5px;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure span {
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 22px;
	display: none;
}

.grid figure span {
	font-weight: 800;
}

.grid figure span, .grid figure p {
	margin-top: 10px;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 20px;
	text-align: center;
	line-height: 1.4;
}

@media(max-width: 1900px) {
	.grid figure span {
		font-size: 14px;
		margin-top: 3px !important;
	}
	.grid figure p {
		font-size: 12px;
		margin-top: 3px !important;
	}

	figure.effect-oscar figcaption {
		padding: 2em !important;
	}
}

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
	margin-bottom: 25px;
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
	/* заставочный фон background-color: rgba(58,52,42,0.7); */
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar span {
	margin: 10px 0 5px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	display: block;
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(40,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

/*-----------------*/
/*** sinky menu  ***/
/*-----------------*/
.slinky-theme-default {
    background: #292728;
}

.slinky-theme-default a:not(.back) {
    color: white;
    padding: 1em;
}

.slinky-theme-default .title {
    color: white;
    padding: 1em;
}

.slinky-theme-default .next::after, 
.slinky-theme-default .back::before {
    background: url(../images/arrow.png) center no-repeat;
    background-size: 1em;
    content: '';
    height: 1em;
    opacity: 1 !important;
    -webkit-transition: 200ms;
    transition: 200ms;
    width: 1em;
}

/* Видеоплагин */
.fluid-width-video-wrapper {
	padding-top: 0 !important;
}

.fluid-width-video-wrapper iframe {
	height: 315px !important;
	width: 100% !important;
	display: block !important;
	position: relative !important;
	margin-bottom: 30px !important;
}