/*---------------*/
/***** RESET *****/
/*---------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------*/
/***** MAIN STYLES *****/
/*---------------------*/
html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: #f1f1f1;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}

img {
	max-width: 100%;
}

h1 {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

h2 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0 20px 0; 
}

h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 20px 0; 
}

p {
	text-align: justify;
}

hr {
    border: none; 
    color: black; 
    background-color: black; 
    height: 2px;
}

.lazy-hidden {
		background: #eee url('../images/loading.gif') no-repeat 50% 50%;
		height: 200px;
}

/*-------------*/
/***---MENU--***/
/*-------------*/
.navbar {
	background: #292728;
} 

#menu a, li.header {               
	text-transform: uppercase;        
}

@media(min-width: 992px) {

	.navbar {
		height: 140px;
	}            

	#menu li {                         
	   position: relative;                 
	   background: #292728;              
	}  

	li.header {                         
	   display: none !important;              
	} 

	/* Стили для ссылок главного меню */
	#menu > ul > li > a {             
	   display: block;              
	   text-decoration: none; 
	   color: #ffffff;             
	   font-size: 14px;
	   padding: 18px 5px 18px 5px;     
	}

	/* Стили для ссылок субменю */
	#menu a {             
	   display: block;              
	   text-decoration: none;          
	   padding: 10px;              
	   color: #ffffff;   
	   font-size: 14px;  
	   text-transform: uppercase;        
	}

	#menu a:hover {             
	     color: grey;       
	}             
	             
	/* Раскрывающееся меню */              
	#menu ul li ul {             
	   margin: 0;            
	   position: absolute;                     
	   width: 12em; 
	   z-index: 5;   
	}

	/* Раскрывающееся меню подменю */              
	#menu ul li ul li ul {             
	   margin: 0;            
	   position: absolute;       
	   left: 190px !important;         
	   width: 200px; 
	   z-index: 6;   
	}

	/* верхний край раскрывающегося меню */
	#menu ul li ul li:first-child {             
	   border-top: 1px solid #000000 !important;               
	}

	 /* элементы списка заполняют контейнер (ul) */   
	#menu ul li ul li {             
	   width: 100%;         
	   border-left: 1px solid #000000;              
	   border-bottom: 1px solid #000000;             
	   border-right: 1px solid #000000;             
	} 

	body #menu ul li ul {             
	   display: none;             
	} 

	#menu ul li:hover ul, #menu ul li ul:hover {             
	   display: block;
	}  

	* html #menu ul li ul {
	   /* Добавляет верхнюю границу раскрывающегося меню для IE */                
	   border-top: 1px solid #000000;   
	   /* Устраняет наследование границ ul раскрывающимся меню */            
	   border-left: 0px;            
	}             
	             
	/* Многоуровневое раскрывающееся меню */              
	body #menu ul li ul li ul   {             
	   /* идентично display: none */ 
	   visibility: hidden; 
	   /* выровнено по верхей границе пункта списка */             
	   top: -1px;               
	   left: 10em;              
	}  

	#menu ul li ul li:hover ul {             
	   /* идентично display: block */
	   visibility: visible;               
	} 

	#menu ul li ul li:hover ul li ul {             
	   visibility: hidden;             
	}  

	#menu ul li ul li ul li:hover ul {             
	   visibility: visible;             
	}  
}

@media(min-width: 1900px) {
	/* Уменьшим размер шрифта и отступ для средних мониторов */
	#menu > ul > li > a {
		padding: 18px 20px 18px 20px;              
		font-size: 16px;   
	}
}

@media(min-width: 992px) and (max-width: 1060px) {
	#menu > ul > li > a, .phone_paragraph {           
		font-size: 12px !important;   
	}
}

/* Логотип */
.brand {
	padding: 0;
	margin: 5px;
}

.brand_image {
	height: 80px;
	width: auto;
	display: block;
	margin: 0 auto;
	position: relative;
	margin-top: 5px;
}

.brand_paragraph {
	color: white;
	font-size: 16px;
	margin: 5px 0 5px 0;
	text-align: center;
}

.navbar-toggler {
	color: white;
	font-size: 26px;
}

/* phone */
.phone_paragraph {
	color: white;
	font-size: 16px;
	position: relative;
	top: -1px;
}

.header_phone {
	color: white;
	font-size: 26px;
	display: none;
}

.header_phone:hover, .header_phone:focus {
	color: white;
}

.phone_link {
	color: white;
	display: none;
	font-size: 14px;
}

.phone_link:hover {
	color: white;
	text-decoration: none;
}

/*--------------------------*/
/***** Главная страница *****/
/*--------------------------*/
.slogan {
	min-height: 100px;
	background: #f1f1f1;
	color: black;
	text-align: center;

}

.slogan h1, .slogan h2 {
	border-bottom: 2px solid black;
	display: inline-block;
	text-align: center;
}

.slogan p {
	font-size: 16px;
}

/* Блок «чем мы можем помочь?» */
.advice {
	min-height: 350px;
	text-align: center;
}

.advice_head {
	font-size: 22px;
	position: relative;
	bottom: 15px;
	color: black;
	text-align: center;
}

.advice_link {
	position: relative;
	bottom: 100px;
	color: white;
	display: inline-block;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 20px;
	background: #161616;
}

.advice_link:hover {
	background: #E6E6E6;
	color: black;
	text-decoration: none;
}

/*--------------------------*/
/***** PAGE ABOUT ***********/
/*--------------------------*/
.certificate {
	min-height: 300px;
	margin: 20px 0 20px;
	padding-top: 0;
}

.certificate_img {
	display: block;
	margin: 0 auto;
	height: 120px;
	width: 120px;
}

.certificate_text {
	margin-top: 20px;
	padding: 10px;
	position: relative;
	bottom: 0;
}

#content {
	min-height: 437px;
	margin: 25px 0 25px 0;
}

/*--------------------------*/
/***** Подбор систем ********/
/*--------------------------*/
.preview_block {
	text-align: center;
}

/*---------------*/
/***** Видео *****/
/*---------------*/
.featured-video-plus iframe {
	margin-top: 30px;
}

iframe {
	max-width: 100% !important;
}

/*-------------------*/
/***** BUTTON UP *****/
/*-------------------*/
.button {
	background: url('../images/button.png') no-repeat;
	height: 40px;
	width: 290px;
	background-size: contain;
	border: 0;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	position: relative;
	top: -1.5px;
	text-align: center;
	padding-top: 9px;
	color: white;
}

.button:hover {
	color: white;
	text-decoration: none;
}

/*-------------------*/
/***** CONTACTS *****/
/*-------------------*/
.map {
	width: 100%;
	height: 400px;
	position: relative;
	margin: 25px 0 25px 0;
}

.map_shadow {
	background-color: rgba(15,10,7,0.5);
	z-index: 15;
	width: 100%;
	height: 400px;
	position: absolute;
}

.map_button {
	z-index: 9999;
	position: absolute;
	color: white;
	font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    background: #161616;
    border: 0;
    cursor: pointer;
    top: 40%;
    left: 40%;
}

.map_iframe {
	z-index: 10;
	width: 100%;
	height: 400px;
	position: absolute;
}

/* Форма обратной связи */
.form {
	margin-top: 20px;
}

.contact_list {
	margin-top: 50px;
}

.contact_list li:first-child {
	margin-top: 0;
}

.contact_list li {
	margin-top: 30px;
	font-size: 16px;
}

.contact_list li a {
	margin-top: 30px;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

/* Список */
ul.list {
	list-style-type: disc;
}

ul.list > li {
	margin: 10px 0 0 20px;
}

ul.list > li:first-child {
	margin-top: 0;
}

/* Ссылки на скачивание */
.links_download {
	width: 400px;
	margin: 50px auto 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.links_download a {
	color: black;
}

.links_download a img {
	position: relative;
	top: 8px;
	right: 5px;
}

.links_download a:hover {
	text-decoration: none;
}

.links_download-center {
	width: 400px;
	margin: 50px auto 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links_download-center a {
	color: black;
}

.links_download-center a img {
	position: relative;
	top: 8px;
	right: 5px;
}

.links_download-center a:hover {
	text-decoration: none;
}

.text_red {
	color: red;
	margin-top: 20px;
}

/*----------------*/
/***** FOOTER *****/
/*----------------*/
footer {
	background: #292728;
	color: white;
	min-height: 250px;
	font-size: 16px;
	display: block
}

.footermenu {
	margin-top: 30px;
}

.footermenu_link {
	color: red;
	font-size: 16px;
	text-decoration: underline;
}

.footermenu_link:hover {
	color: red;
}

.developers {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.developers_top {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 220px;
}

.developers_top-text {
	margin-right: 10px;
}

.developers_bottom {
	margin: 20px 0 20px 0;
}

.social_paragraph {
	margin-top: 20px;
	text-align:left;
}

.social_paragraph:first-child {
	margin-top: 0;
}

.social_link {
	font-family: 'Fira Sans', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 300;
}

.social li a:hover {
	color: grey;
}

/*---------------------*/
/***** Мой логотип *****/
/*---------------------*/
.at-logo {
	height: 40px;
}