body {
	font-size: 14px;
}

h1 {
	font-size: 20px;
	text-align: center;
	margin: 15px 0 15px 0;
}

h2 {
	text-align: center;
	font-size: 18px;
	margin: 20px 0 20px 0; 
}

h3 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0 20px 0; 
}

/* Блок с телефоном */
.phone_paragraph {
	color: white;
	display: none;
}

.phone_link {
	color: white;
	display: block;
}

.header_phone {
	display: block;
}

#layer {
	display: none !important;
}

.links_download, .links_download-center {
	width: 290px;
	margin: 50px auto 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links_download a:last-child {
	margin-top: 15px;
}

#header {
	min-height: 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
}

.button {
	margin-bottom: 0;
}

.social {
	margin: 20px 0 20px 0; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.social li {
	margin: 0;
}

.preview_block img {
	display: block;
	margin: 0 auto;
}

.tabble-row > p {
	margin-top: 10px;
}

.tabble-row {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

/* Размер миниатюр на мобилах */
.size-thumbnail {
	width: 95% !important;
	height: auto;
	margin-right: 5px;
}

/* Стили для OSCAR */
.grid figure span {
	font-size: 16px;
}

.grid figure p {
	font-size: 14px;
}

.grid figure span, .grid figure p {
	margin-top: 5px;
}

.footermenu_link {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.navbar {
	height: auto;
}

/* Кнопка на карте */
.map_button {
    left: 22%;
}